<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="test">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">RrRGM4eSehq9ULfJ</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.10.116:3306/exc_system?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="hibernate.connection.username">xyyh</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    </session-factory>
</hibernate-configuration>
